<p style="background-color:#FDFEFE; font-family:arial; color:#09042b; font-size:350%; text-align:center; border-radius:10px 10px;"></p>

<p style="background-color:#FDFEFE; font-family:arial; color:#09042b; font-size:400%; text-align:center; border-radius:10px 10px;"> Credit Score Friendly</p>

<p style="background-color:#FDFEFE; font-family:arial; color:#09042b; font-size:350%; text-align:center; border-radius:10px 10px;"> Exploratory Data Analysis Part 1 </p>


<img src="https://media.istockphoto.com/photos/credit-score-concept-picture-id1333701057?k=20&m=1333701057&s=170667a&w=0&h=wPQona6Oa_kwNj-NWz73qeHA0JErXzIyfy_z05Ze7yE=" align="center"/>

<a id="toc"></a>

## <p style="background-color:#262222; font-family:arial; color:#d0fc08; font-size:175%; text-align:center; border-radius:10px 10px;">Content</p>

* [Aim of the Project](#0)
* [Dataset Info](#1)
* [Importing Related Libraries](#2)
* [Recognizing & Understanding Data](#3)
* [Cleaning Data](#4)    
* [Handling with Missing Values](#5)
* [Handling with Outliers](#6)

## <p style="background-color:#262222; font-family:arial; color:#d0fc08; font-size:175%; text-align:center; border-radius:10px 10px;">Aim of the Project</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:#d0fc08; background-color:#262222" data-toggle="popover">Content</a>


A credit score is a number or a class that depicts a consumerâ€™s creditworthiness. The higher the score, the better a borrower looks to potential lenders.

A credit score is based on credit history: number of open accounts, total levels of debt, repayment history, and other factors. Lenders use credit scores to evaluate the probability that an individual will repay loans in a timely manner.

In this project to recognize and understand the credit score classification data, a comprehensive Exploratory Data Analysis (EDA) was conducted and the data was prepared to implement the Machine Learning Algorithms.

## <p style="background-color:#262222; font-family:arial; color:#d0fc08; font-size:175%; text-align:center; border-radius:10px 10px;">Dataset Info</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:#d0fc08; background-color:#262222" data-toggle="popover">Content</a>


The Credit score classification dataset has 100,000 entries, 12,500 different customers and 28 columns. Each entry contains the following information about customers:

**ID :** a unique identification of an entry

**Customer_ID :** a unique identification of a person

**Month :** the month of the year

**Name :** the name of a person

**Age :** the age of the person

**SSN :** the social security number of a person

**Occupation :** the occupation of the person

**Annual_Income :** the annual income of the person

**Monthly_Inhand_Salary :** the monthly base salary of a person

**Num_Bank_Accounts :** the number of bank accounts a person holds

**Num_Credit_Card :** the number of other credit cards held by a person

**Interest_Rate :** the interest rate on credit card

**Num_of_Loan :** the number of loans taken from the bank

**Type_of_Loan :** the types of loan taken by a person

**Delay_from_due_date :** the average number of days delayed from the payment date

**Num_of_Delayed_Payment :** the average number of payments delayed by a person

**Changed_Credit_Limit :** the percentage change in credit card limit

**Num_Credit_Inquiries :** the number of credit card inquiries

**Credit_Mix :** the classification of the mix of credits

**Outstanding_Debt :** the remaining debt to be paid (in USD)

**Credit_Utilization_Ratio :** the utilization ratio of credit card

**Credit_History_Age :** the age of credit history of the person

**Payment_of_Min_Amount :** whether only the minimum amount was paid by the person

**Total_EMI_per_month :** the monthly EMI payments (in USD)

**Amount_invested_monthly :** the monthly amount invested by the customer (in USD)

**Payment_Behaviour :** the payment behavior of the customer (in USD)

**Monthly_Balance :** the monthly balance amount of the customer (in USD)

**Credit_Score :** the bracket of credit score (Poor, Standard, Good)

## <p style="background-color:#262222; font-family:arial; color:#d0fc08; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Related Libraries</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:#d0fc08; background-color:#262222" data-toggle="popover">Content</a>

In [ ]:
# import data analysis and visualisation libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import patches
import seaborn as sns

# import warnings to suppress warnings
import warnings
warnings.filterwarnings("ignore")

# Statistics functions
from scipy.stats import norm
from scipy import stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

# Changing the figure size of a seaborn axes 
sns.set(rc={"figure.figsize": (10, 6)})

# The style parameters control properties
sns.set_style("whitegrid")

# To display maximum columns
pd.set_option('display.max_columns', None)

# To display maximum rows
pd.set_option('display.max_rows', None)

# To set float format
pd.set_option('display.float_format','{:.2f}'.format)

### Reading the data from file

In [ ]:
df= pd.read_csv("../input/credit-score-dataset/train.csv")

## <p style="background-color:#262222; font-family:arial; color:#d0fc08; font-size:175%; text-align:center; border-radius:10px 10px;">Recognizing and Understanding Data</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:#d0fc08; background-color:#262222" data-toggle="popover">Content</a>

### Checking the dataframe with head, tail and sample

In [ ]:
 df.head()

In [ ]:
df.tail()

In [ ]:
df.sample()

In [ ]:
df.shape

### Checking the summary information of df

In [ ]:
df.info()

In [ ]:
# Checking the null values of df

df.isnull().sum()

In [ ]:
# Checking the duplicated values in df

df.duplicated().sum()

In [ ]:
# Checking the number of uniques in df

df.nunique()

In [ ]:
# Checking the desciptive values in df

df.describe()

## <p style="background-color:#262222; font-family:arial; color:#d0fc08; font-size:175%; text-align:center; border-radius:10px; line-height:1.2">Cleaning Data</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:#d0fc08; background-color:#262222" data-toggle="popover">Content</a>

There are so many strange values that should be cleaned or replaced with np.nan

In [ ]:
# defining a function to replace "_", "_______", "#F%$D@*&8", "!@9#%8", "__-333333333333333333333333333__" with np.nan

def clean_data(row) :
    if row in ["_", "_______", "#F%$D@*&8", "!@9#%8", "__-333333333333333333333333333__"]:
        return np.nan
    else :
        return row

In [ ]:
# replacing the strange values with np.nan using clean_data function

for col in df.columns :
    df[col] = df[col].apply(clean_data)

In [ ]:
# Strip "_" character at the begin and end of df features

for col in df.columns :
    if df[col].dtype == "O" :
        if df[col].str.contains("_").sum() > 0:
            df[col] = df[col].str.strip("_")

In [ ]:
# Convert ID and Customer_ID numbers which were given as hexadecimal to decimal

df["ID"] = df.ID.apply(lambda x : int(x, 16))
df["Customer_ID"] = df.Customer_ID.str.strip("CUS_").apply(lambda x : int(x, 16))

### Fixing Data Type

In [ ]:
# defining column lists whose data types should be fixed to integer and float

col_int = ["ID", "Customer_ID", "Age", "Num_Bank_Accounts", "Num_Credit_Card", "Num_of_Loan", "Delay_from_due_date"]

col_float = ["Num_of_Delayed_Payment", "Annual_Income", "Interest_Rate", "Changed_Credit_Limit","Outstanding_Debt",\
             "Amount_invested_monthly","Monthly_Balance"]

In [ ]:
# fixing data types to integer
for col in col_int :
    df[col] = df[col].astype(int)

In [ ]:
# fixing data types to float
for col in col_float :
    df[col] = df[col].astype(float)

In [ ]:
# checking the data types after fixing 
df.info()

## <p style="background-color:#262222; font-family:arial; color:#d0fc08; font-size:175%; text-align:center; border-radius:10px 10px;">Handling With Missing Values</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:#d0fc08; background-color:#262222" data-toggle="popover">Content</a>

### Defining a function for null check

In [ ]:
def null_check (col) :
    print("Column name :", col)
    print("--"*16)
    print("Number of nulls :", df[col].isnull().sum())
    print("Percent of nulls :", '%', round((df[col].isnull().sum()/df.shape[0])*100, 2))
    print("Value_counts :", "\n",df[col].value_counts(dropna=False).head())  # brings only first 5 value

* There are 13 columns having null values in df.
* Now let's work on this null values column by column.

### Name column

In [ ]:
# Checking the null values in Name column

null_check("Name")

In [ ]:
# When we grouped the data by Customer_ID, we can see that the null values in Name column can be filled with ffill and bfill method.

df["Name"] = df.groupby("Customer_ID")["Name"].fillna(method='ffill').fillna(method='bfill')

### SSN column

In [ ]:
# Checking the null values in SSN column

null_check("SSN")

In [ ]:
# Null values in SSN column can be filled with ffill and bfill method like in Name column.

df["SSN"] = df.groupby("Customer_ID")["SSN"].fillna(method="ffill").fillna(method="bfill")

### Occupation column

In [ ]:
# Checking the null values in Occupation column

null_check("Occupation")

In [ ]:
# Null values in Occupation column can be filled with ffill and bfill method like in Name column.

df["Occupation"] = df.groupby("Customer_ID")["Occupation"].fillna(method="ffill").fillna(method="bfill")

### Monthly_Inhand_Salary column

In [ ]:
# Checking the null values in Monthly_Inhand_Salary column

null_check("Monthly_Inhand_Salary")

In [ ]:
# Checking the null values in Monthly_Inhand_Salary column by grouping Customer_ID

df.groupby("Customer_ID").Monthly_Inhand_Salary.value_counts(dropna=False).head()

In [ ]:
# Null values in Monthly_Inhand_Salary column can be filled with ffill and bfill method like in Name column.
    
df["Monthly_Inhand_Salary"] = df.groupby("Customer_ID")["Monthly_Inhand_Salary"].fillna(method="ffill").fillna(method="bfill")

### Type_of_Loan column

In [ ]:
# Checking the null values in Type_of_Loan column

null_check("Type_of_Loan")

In [ ]:
# Checking the null values in Type_of_Loan column by grouping Customer_ID

df.groupby("Customer_ID").Type_of_Loan.value_counts(dropna=False).head()

According to the domain knowledge, the number of loans taken and how they are paid are the parameters that affect the credit score, rather than the type of loan. As we have other features that affect credit score rather than type of loan and filling null values in Type_of_Loan column with appropriate values is not possible, we can drop Type_of_Loan column.

In [ ]:
df.drop(columns="Type_of_Loan", inplace=True)

### Num_of_Delayed_Payment column

In [ ]:
# Checking the null values in Num_of_Delayed_Payment column

null_check("Num_of_Delayed_Payment")

In [ ]:
# Checking the null values in Num_of_Delayed_Payment column by grouping Customer_ID

df.groupby("Customer_ID").Num_of_Delayed_Payment.value_counts(dropna=False).head(10)

In [ ]:
# checking the number of delayed payment values for Customer 1011

df[df.Customer_ID == 1011]

In [ ]:
# Checking the mode values in Num_of_Delayed_Payment column by grouping Customer_ID

df.groupby("Customer_ID").Num_of_Delayed_Payment.apply(lambda x: x.mode()[0]).head()

In [ ]:
# Null values in Num_of_Delayed_Payment column can be filled with mode by grouping Customer_ID.
    
df["Num_of_Delayed_Payment"] = df.groupby("Customer_ID")["Num_of_Delayed_Payment"].apply(lambda x : x.fillna(x.mode()[0]))

### Changed_Credit_Limit column

In [ ]:
# Checking the null values in Changed_Credit_Limit column

null_check("Changed_Credit_Limit")

In [ ]:
# Checking the null values in Changed_Credit_Limit column by grouping Customer_ID

df.groupby("Customer_ID").Changed_Credit_Limit.value_counts(dropna=False).head()

In [ ]:
# Null values in Changed_Credit_Limit column can be filled with ffill and bfill method by grouping Customer_ID.
    
df["Changed_Credit_Limit"] = df.groupby("Customer_ID")["Changed_Credit_Limit"].fillna(method="ffill").fillna(method="bfill")

### Num_Credit_Inquiries column

In [ ]:
# Checking the null values in Num_Credit_Inquiries column

null_check("Num_Credit_Inquiries")

In [ ]:
# Checking the null values in Num_Credit_Inquiries column by grouping Customer_ID

df.groupby("Customer_ID").Num_Credit_Inquiries.value_counts(dropna=False).head(6)

In [ ]:
# Null values in Num_Credit_Inquiries column can be filled with ffill and bfill method by grouping Customer_ID.
 
df["Num_Credit_Inquiries"] = df.groupby("Customer_ID")["Num_Credit_Inquiries"].apply(lambda x : x.fillna(method="ffill").fillna(method="bfill"))

### Credit_Mix column

In [ ]:
# Checking the null values in Credit_Mix column

null_check("Credit_Mix")

In [ ]:
# Checking the descriptive values of Credit_Mix column

df.Credit_Mix.describe()

In [ ]:
# Checking the null values in Credit_Mix column by grouping Customer_ID

df.groupby("Customer_ID").Credit_Mix.value_counts(dropna=False).head(6)

In [ ]:
# Checking the Credit_Mix values for each Customer

df[["Customer_ID","Credit_Mix"]].head()

In [ ]:
# According to the analysis above null values in Credit_Mix column can be filled with mode by grouping Customer_ID

df["Credit_Mix"] = df.groupby("Customer_ID")["Credit_Mix"].apply(lambda x : x.fillna(x.mode()[0]))

### Credit_History_Age column

In [ ]:
# Checking the null values in Credit_History_Age column

null_check("Credit_History_Age")

In [ ]:
# Defining a function to convert the Credit_History_Age values to month

def Cred_Hist_Age (cha) :
    if type(cha) == float :
        return cha
    else :
        return int(cha.split()[0])*12 + int(cha.split()[3])

In [ ]:
# convert the Credit_History_Age values to month

df["Credit_History_Age"] = df.Credit_History_Age.apply(Cred_Hist_Age).astype(float)

In [ ]:
# Checking the Credit_History_Age values after converting to month

df["Credit_History_Age"].head()

In [ ]:
# Checking the null values in Credit_History_Age column by grouping Customer_ID

df.groupby("Customer_ID")["Credit_History_Age"].value_counts(dropna=False).head(10)

In [ ]:
# Defining a function to fill null values in Credit_History_Age column with incrementally
# TÄ°P: first null values in Credit_History_Age column should be replaced with 0(zero) before using the defined function

def fill_credit_history_age_incremental (x) :
    if x.values[0] == 0 :
        return np.arange((int(x.values[1])-1), (int(x.values[1])-1)+len(x))
    else :
        return np.arange(int(x.values[0]), int(x.values[0])+len(x))

In [ ]:
# filling null values in Credit_History_Age column with incrementally

df["Credit_History_Age"] = df.Credit_History_Age.fillna(0) # firstly fill null values with 0 then apply the function defined


# df["Credit_History_Age"] = df.groupby("Customer_ID")["Credit_History_Age"].transform(lambda x : fill_credit_history_age_incremental(x))

# or

df["Credit_History_Age"] = df.groupby("Customer_ID")["Credit_History_Age"].transform(fill_credit_history_age_incremental)

### Amount_invested_monthly column

In [ ]:
# Checking the null values in Amount_invested_monthly column

null_check("Amount_invested_monthly")

In [ ]:
# Checking the null values in Amount_invested_monthly column by grouping Customer_ID

df.groupby("Customer_ID").Amount_invested_monthly.value_counts(dropna=False).head(10)

In [ ]:
# Checking the descriptive values in Amount_invested_monthly column by grouping Customer_ID

df.groupby("Customer_ID").Amount_invested_monthly.describe().head()

In [ ]:
# According to the analysis above, null values in Amount_invested_monthly column can be filled with median by grouping Customer_ID

df["Amount_invested_monthly"] = df.groupby("Customer_ID")["Amount_invested_monthly"].apply(lambda x : x.fillna(x.median()))

### Payment_Behaviour column

In [ ]:
# Checking the null values in Payment_Behaviour column

null_check("Payment_Behaviour")

In [ ]:
# Checking the null values in Payment_Behaviour column by grouping Customer_ID

df.groupby("Customer_ID").Payment_Behaviour.value_counts(dropna=False).head(10)

According to the domain knowledge we have other features (such as Num_of_Delayed_Payment, Delay_from_due_date, Payment_of_Min_Amount, ..) that represents payment behaviour. And also filling null values in Type_of_Loan column with appropriate values is not possible. For the reasons explained above, we can drop Payment_Behaviour column.

In [ ]:
df.drop(columns="Payment_Behaviour", inplace=True)

### Monthly_Balance column

In [ ]:
# Checking the null values in Monthly_Balance column

null_check("Monthly_Balance")

In [ ]:
# Checking the null values in Monthly_Balance column by grouping Customer_ID

df.groupby("Customer_ID").Monthly_Balance.value_counts(dropna=False).head(10)

In [ ]:
# Checking the descriptive values in Monthly_Balance column by grouping Customer_ID

df.groupby("Customer_ID").Monthly_Balance.describe().head().T

According to the analysis above, firstly null values in Monthly_Balance column should be filled with interpolate method. Then the remaining blank values in the first row for each Customer should be filled with the minimum Monthly_Balance values of each Customer.

In [ ]:
df["Monthly_Balance"] = df.groupby("Customer_ID")["Monthly_Balance"].apply(lambda x : x.interpolate().fillna(x.min()))

In [ ]:
# Checking the descriptive values in Monthly_Balance column after filling missing values

df.groupby("Customer_ID").Monthly_Balance.describe().head(10).T

In [ ]:
# Last check for null values in df

df.isnull().sum()

## <p style="background-color:#262222; font-family:arial; color:#d0fc08; font-size:175%; text-align:center; border-radius:10px 10px;">Handling With Outliers</p>

<a id="6"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:#d0fc08; background-color:#262222" data-toggle="popover">Content</a>

## Handling with outliers for numerical features

In [ ]:
# Creating a df_numeric contains only numerical features

df_numeric = df.select_dtypes(exclude=["object"])

In [ ]:
# Checking the information about df_numeric

df_numeric.info()

In [ ]:
# Checking the desciptive values in df

df_numeric.describe()

### Histplots for numerical features

In [ ]:
fig_ = df_numeric.iloc[:,2:].hist(figsize=(12, 36), layout=(10,2), bins=30, edgecolor="black");

### Boxplots for numeric columns by grouping Credit Score

In [ ]:
fig = plt.figure(figsize=(10,36), dpi=200)
for i, col in enumerate(df_numeric.iloc[:,2:].columns):
        plt.subplot(10,2,i+1)
        sns.boxplot(x= "Credit_Score", y=col, data=df)
        plt.ticklabel_format(style='plain', axis='y')

plt.tight_layout();

### Conclusion about plots of numeric columns

When we examine the graphs above, it has been evaluated that there may be extreme values in the columns given below.

* Age
* Annual_Income
* Monthly_Inhand_Salary
* Num_Bank_Accounts
* Num_Credit_Card
* Interest_Rate
* Num_of_Loan
* Num_of_Delayed_Payment
* Num_Credit_Inquiries
* Total_EMI_per_month
* Amount_invested_monthly

First of all, extreme values in these columns will be studied.

### Defining a function to find iqr lower, upper limits and the number of extreme values

In [ ]:
def iqr_lower_upper (col) :
    global lower, upper
    q1 = df_numeric[col].quantile(0.25)
    q3 = df_numeric[col].quantile(0.75)
    iqr = q3 -q1
    lower = round(q1 -1.5*iqr, 2)
    upper = round(q3 + 1.5*iqr, 2)
    nr_extreme = df.loc[(df[col] < lower) | (df[col] > upper)].shape[0] 
    print(f"lower limit : {lower}\nupper limit: {upper}\nthe number of extreme values outside the lower and upper limits : {nr_extreme}")

### Age column

In [ ]:
# Finding iqr lower and upper limit of Age column

iqr_lower_upper("Age")

In [ ]:
# Checking the value counts of Age column by grouping Customer_ID

df.groupby("Customer_ID")["Age"].value_counts().head()

In [ ]:
# checking the extreme values outside the lower and upper limits by sorting the Age value

df[(df.Age < lower)|(df.Age > upper)][["Age"]].value_counts(dropna=False).sort_index().head()

**According to the  analysis above the extreme values in Age column outside the lower and upper limits should be replaced with np.nan. Then null values can be filled with ffill and bfill method.**

In [ ]:
# Replacing extreme values in Age column with np.nan

df["Age"] = df.Age.replace([df[(df.Age > upper) | (df.Age < 0)]["Age"]], np.nan)

In [ ]:
# Filling null values with ffill and bfill method by grouping Customer_ID

df["Age"] = df.groupby("Customer_ID")["Age"].fillna(method="ffill").fillna(method="bfill").astype(int)

### Annual_Income column

In [ ]:
# Finding iqr lower and upper limit of Annual_Income column

iqr_lower_upper("Annual_Income")

In [ ]:
# Checking the value counts of Annual_Income column by grouping Customer_ID

df.groupby("Customer_ID")["Annual_Income"].value_counts().head()

In [ ]:
# checking the extreme values outside the lower and upper limits by sorting the Annual_Income value

df[(df.Annual_Income < lower)|(df.Annual_Income > upper)][["Annual_Income"]].value_counts(dropna=False).sort_index().head()

In [ ]:
# Checking the Annual_Income value less than 0

df[(df.Annual_Income < 0)][["Annual_Income"]].count()

In [ ]:
# Checking the customer information whose Annual_Income value is greater than upper limit

df[(df.Annual_Income > upper)].head()

In [ ]:
# Checking the Annual_Income value for Customer_ID = 10314

df[df.Customer_ID == 10314][["Customer_ID","Annual_Income"]]

**According to the  analysis above the extreme values in Annual_Income column outside the 0 and upper limits should be replaced with np.nan. Then null values can be filled with ffill and bfill method.**

In [ ]:
# Replacing extreme values in Annual_Income column with np.nan

df["Annual_Income"] = df.Annual_Income.replace([df[(df.Annual_Income > upper) | (df.Annual_Income < 0)]["Annual_Income"]], np.nan)

In [ ]:
# Filling null values with ffill and bfill method by grouping Customer_ID

df["Annual_Income"] = df.groupby("Customer_ID")["Annual_Income"].fillna(method="ffill").fillna(method="bfill")

### Monthly_Inhand_Salary

In [ ]:
# Finding iqr lower and upper limit of Monthly_Inhand_Salary column

iqr_lower_upper("Monthly_Inhand_Salary")

In [ ]:
# Checking the value counts of Monthly_Inhand_Salary column by grouping Customer_ID

df.groupby("Customer_ID")["Monthly_Inhand_Salary"].value_counts().head()

In [ ]:
# checking the extreme values outside the upper limit by sorting the Monthly_Inhand_Salary value

df[(df.Monthly_Inhand_Salary > upper)][["Monthly_Inhand_Salary"]].value_counts(dropna=False).sort_index().head()

In [ ]:
# Checking the Monthly_Inhand_Salary value less than 0

df[(df.Monthly_Inhand_Salary < 0)][["Monthly_Inhand_Salary"]].count()

In [ ]:
# Checking the scatterplot of Monthly_Inhand_Salary and Annual_Income to determine outlier limits

sns.scatterplot(x=df.Monthly_Inhand_Salary, y= df.Annual_Income, data=df, hue="Credit_Score", alpha=0.6);

As it is seen from the scatterplot there are strong correlations between Monthly_Inhand_Salary and Annual_Income and it was concluded that Monthly_Inhand_Salary value greater or equal to 11900 and Annual_Income value less than 120000 are outliers.
So out of these values can be dropped from df.

In [ ]:
df[(df.Monthly_Inhand_Salary >= 11900) & (df.Annual_Income < 120000)].Customer_ID.value_counts().head()

In [ ]:
df[df.Customer_ID == 37775] # The Annual_Income can't be less than Monthly_Inhand_Salary! It should be dropped.

In [ ]:
# Dropping outliers

df.drop(index=df[(df.Monthly_Inhand_Salary >= 11900) & (df.Annual_Income < 120000)].index, inplace=True)

In [ ]:
df.shape

### Num_Bank_Accounts

In [ ]:
# Finding iqr lower and upper limit of Num_Bank_Accounts column

iqr_lower_upper("Num_Bank_Accounts")

In [ ]:
# Checking the value counts of Num_Bank_Accounts column by grouping Customer_ID

df.groupby("Customer_ID")["Num_Bank_Accounts"].value_counts().head()

In [ ]:
# Checking the scatterplot of Annual_Income and Num_Bank_Accounts to determine outliers

sns.scatterplot(x= df.Num_Bank_Accounts, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

In [ ]:
# checking the extreme values in Num_Bank_Accounts outside the lower and upper limits by sorting the Num_Bank_Accounts value

df[(df.Num_Bank_Accounts < lower)|(df.Num_Bank_Accounts > upper)][["Num_Bank_Accounts"]].value_counts(dropna=False).sort_index().head()

In [ ]:
# Checking the number of Num_Bank_Accounts whose Num_Bank_Accounts value less than 0

(df.Num_Bank_Accounts < 0).sum()

In [ ]:
# Checking the customer information whose Num_Bank_Accounts value is less than 0

df[(df.Num_Bank_Accounts < 0)].head()

In [ ]:
# Checking the Num_Bank_Accounts value for Customer_ID = 10314

df[df.Customer_ID == 17340][["Customer_ID","Num_Bank_Accounts"]]

In [ ]:
# checking the extreme values in Num_Bank_Accounts column outside the upper limit

df[(df.Num_Bank_Accounts > upper)].head()

In [ ]:
# checking the extreme values in Num_Bank_Accounts column outside the upper limit for Customer_ID = 2825

df[df.Customer_ID == 2825][["Customer_ID","Num_Bank_Accounts"]]

**According to the analysis above the extreme values in Num_Bank_Accounts column less than 0 can be replaced with 1 as the former values in Num_Bank_Accounts  are 0 and the Num_Credit_Card of these Customers are greater than one.**

**Additionally the extreme values in Num_Bank_Accounts column greater than upper limit should be replaced with np.nan. Then null values can be filled with ffill and bfill method.**

In [ ]:
# Replacing the extreme values in Num_Bank_Accounts column less than 0 with np.nan and then filling null values with 1

df["Num_Bank_Accounts"] = df.Num_Bank_Accounts.replace([df[(df.Num_Bank_Accounts < 0)]["Num_Bank_Accounts"]], np.nan).fillna(1)

In [ ]:
# Replacing the extreme values in Num_Bank_Accounts column greater than upper limit with np.nan and then
# filling null values with ffill and bfill method.
df["Num_Bank_Accounts"] = df.Num_Bank_Accounts.replace([df[(df.Num_Bank_Accounts > upper)]["Num_Bank_Accounts"]], np.nan)
df["Num_Bank_Accounts"] = df.groupby("Customer_ID")["Num_Bank_Accounts"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
# Checking the scatterplot of Annual_Income and Num_Bank_Accounts after handling with outliers

sns.scatterplot(x= df.Num_Bank_Accounts, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

### Num_Credit_Card

In [ ]:
# Finding iqr lower and upper limit of Num_Credit_Card column

iqr_lower_upper("Num_Credit_Card")

In [ ]:
# Checking the value counts of Num_Credit_Card column by grouping Customer_ID

df.groupby("Customer_ID")["Num_Credit_Card"].value_counts().head(6)

In [ ]:
# Checking the scatterplot of Annual_Income and Num_Credit_Card to determine outliers

sns.scatterplot(x= df.Num_Credit_Card, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

In [ ]:
# checking the extreme values in Num_Credit_Card outside the lower and upper limits by sorting the Num_Credit_Card value

df[(df.Num_Credit_Card < lower)|(df.Num_Credit_Card > upper)][["Num_Credit_Card"]].value_counts(dropna=False).sort_index().head()

In [ ]:
# Checking the number of Num_Credit_Card whose Num_Credit_Card value less than 0

(df.Num_Credit_Card < 0).sum()

In [ ]:
# Checking the number of Num_Credit_Card whose Num_Credit_Card value greater than upper limit

(df.Num_Credit_Card > upper).sum()

In [ ]:
# Checking the customer information whose Num_Credit_Card value greater than upper limit

df[df.Num_Credit_Card > upper].head()

In [ ]:
# Checking the Num_Credit_Card value for Customer_ID = 8625

df[df.Customer_ID == 8625][["Customer_ID","Num_Credit_Card"]]

**According to the analysis above the extreme values in Annual_Income column outside the upper limit should be replaced with np.nan. Then null values can be filled with ffill and bfill method.**

In [ ]:
# Replacing the extreme values in Num_Credit_Card column greater than upper limit with np.nan and then
# filling null values with ffill and bfill method by grouping Customer_ID.

df["Num_Credit_Card"] = df.Num_Credit_Card.replace([df[(df.Num_Credit_Card > upper)]["Num_Credit_Card"]], np.nan)
df["Num_Credit_Card"] = df.groupby("Customer_ID")["Num_Credit_Card"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
# Checking the scatterplot of Annual_Income and Num_Credit_Card after handling with outliers

sns.scatterplot(x= df.Num_Credit_Card, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

### Interest_Rate column

In [ ]:
# Finding iqr lower and upper limit of Interest_Rate column

iqr_lower_upper("Interest_Rate")

In [ ]:
# Checking the value counts of Interest_Rate column by grouping Customer_ID

df.groupby("Customer_ID")["Interest_Rate"].value_counts().head(10)

In [ ]:
# Checking the scatterplot of Annual_Income and Interest_Rate to determine outliers

sns.scatterplot(x= df.Interest_Rate, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

In [ ]:
# checking the extreme values in Interest_Rate outside the lower and upper limits by sorting the Interest_Rate value

df[(df.Interest_Rate < lower)|(df.Interest_Rate > upper)][["Interest_Rate"]].value_counts(dropna=False).sort_index().head()

In [ ]:
# Checking the number of Interest_Rate whose Interest_Rate value less than 0

(df.Interest_Rate < 0).sum()

In [ ]:
# Checking the number of Interest_Rate whose Interest_Rate value greater than upper limit

(df.Interest_Rate > upper).sum()

In [ ]:
# Checking the customer information whose Interest_Rate value greater than upper limit

df[df.Interest_Rate > upper].head()

In [ ]:
# Checking the Interest_Rate value for Customer_ID = 38382

df[df.Customer_ID == 38382][["Customer_ID","Interest_Rate"]]

**According to the analysis above the extreme values in Interest_Rate column outside the upper limit should be replaced with np.nan. Then null values can be filled with ffill and bfill method.**

In [ ]:
# Replacing the extreme values in Interest_Rate column greater than upper limit with np.nan and then
# filling null values with ffill and bfill method by grouping Customer_ID.

df["Interest_Rate"] = df.Interest_Rate.replace([df[(df.Interest_Rate > upper)]["Interest_Rate"]], np.nan)
df["Interest_Rate"] = df.groupby("Customer_ID")["Interest_Rate"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
# Checking the scatterplot of Annual_Income and Interest_Rate after handling with outliers

sns.scatterplot(x= df.Interest_Rate, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

### Num_of_Loan column

In [ ]:
# Finding iqr lower and upper limit of Num_of_Loan column

iqr_lower_upper("Num_of_Loan")

In [ ]:
# Checking the value counts of Num_of_Loan column by grouping Customer_ID

df.groupby("Customer_ID")["Num_of_Loan"].value_counts().head()

In [ ]:
# Checking the scatterplot of Annual_Income and Num_of_Loan to determine outliers

sns.scatterplot(x= df.Num_of_Loan, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

In [ ]:
# checking the extreme values in Num_of_Loan outside the lower and upper limits by sorting the Num_of_Loan value

df[(df.Num_of_Loan < lower)|(df.Num_of_Loan > upper)][["Num_of_Loan"]].value_counts(dropna=False).sort_index().head()

In [ ]:
# Checking the number of Num_of_Loan whose Num_of_Loan value less than 0

(df.Num_of_Loan < 0).sum()

In [ ]:
# Checking the customer information whose Num_of_Loan value less than 0

df[df.Num_of_Loan < 0].head()

In [ ]:
# Checking the Num_of_Loan value for Customer_ID = 7387

df[df.Customer_ID == 7387][["Customer_ID","Num_of_Loan"]]

In [ ]:
# Checking the number of Num_of_Loan whose Num_of_Loan value greater than upper limit

(df.Num_of_Loan > upper).sum()

In [ ]:
# Checking the customer information whose Num_of_Loan value greater than upper limit

df[df.Num_of_Loan > upper].head()

In [ ]:
# Checking the Num_of_Loan value for Customer_ID = 3929

df[df.Customer_ID == 3929][["Customer_ID","Num_of_Loan"]]

**According to the analysis above the extreme values in Num_of_Loan column outside the 0 and upper limit should be replaced with np.nan. Then null values can be filled with ffill and bfill method.**

In [ ]:
# Replacing the extreme values in Num_of_Loan column less than 0 and greater than upper limit with np.nan and then
# filling null values with ffill and bfill method by grouping Customer_ID.

df["Num_of_Loan"] = df.Num_of_Loan.replace([df[(df.Num_of_Loan < 0) | (df.Num_of_Loan > upper)]["Num_of_Loan"]], np.nan)
df["Num_of_Loan"] = df.groupby("Customer_ID")["Num_of_Loan"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
# Checking the scatterplot of Annual_Income and Num_of_Loan after handling with outliers

sns.scatterplot(x= df.Num_of_Loan, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

### Num_of_Delayed_Payment column

In [ ]:
# Finding iqr lower and upper limit of Num_of_Delayed_Payment column

iqr_lower_upper("Num_of_Delayed_Payment")

In [ ]:
# Checking the value counts of Num_of_Delayed_Payment column by grouping Customer_ID

df.groupby("Customer_ID")["Num_of_Delayed_Payment"].value_counts().head(7)

In [ ]:
# Checking the scatterplot of Annual_Income and Num_of_Delayed_Payment to determine outliers

sns.scatterplot(x= df.Num_of_Delayed_Payment, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

In [ ]:
# checking the extreme values in Num_of_Delayed_Payment less than 0 and greater than upper limit by sorting the Num_of_Delayed_Payment value

df[(df.Num_of_Delayed_Payment < 0)|(df.Num_of_Delayed_Payment > upper)][["Num_of_Delayed_Payment"]].value_counts(dropna=False).sort_index().head()

In [ ]:
# Checking the number of Num_of_Delayed_Payment whose Num_of_Delayed_Payment value less than 0

(df.Num_of_Delayed_Payment < 0).sum()

In [ ]:
# Checking the customer information whose Num_of_Delayed_Payment value less than 0

df[df.Num_of_Delayed_Payment < 0].head()

In [ ]:
# Checking the Num_of_Delayed_Payment value for Customer_ID = 8625

df[df.Customer_ID == 8625][["Customer_ID","Num_of_Delayed_Payment"]]

In [ ]:
# Checking the number of Num_of_Delayed_Payment whose Num_of_Delayed_Payment value greater than upper limit

(df.Num_of_Delayed_Payment > upper).sum()

In [ ]:
# Checking the customer information whose Num_of_Delayed_Payment value greater than upper limit

df[df.Num_of_Delayed_Payment > upper].head()

In [ ]:
# Checking the Num_of_Delayed_Payment value for Customer_ID = 24648

df[df.Customer_ID == 24648][["Customer_ID","Num_of_Delayed_Payment"]]

**According to the analysis above the extreme values in Num_of_Delayed_Payment column less than 0 and greater than upper limit should be replaced with np.nan. Then null values can be filled with mode value for each Customer by grouping Customer_ID.**

In [ ]:
# Replacing the extreme values in Num_of_Delayed_Payment column less than 0 and greater than upper limit with np.nan and then
# filling null values with ffill and bfill method by grouping Customer_ID.

df["Num_of_Delayed_Payment"] = df.Num_of_Delayed_Payment.replace([df[(df.Num_of_Delayed_Payment < 0) | (df.Num_of_Delayed_Payment > upper)]["Num_of_Delayed_Payment"]], np.nan)
df["Num_of_Delayed_Payment"] = df.groupby("Customer_ID")["Num_of_Delayed_Payment"].apply(lambda x : x.fillna(x.mode()[0]))

In [ ]:
# Checking the scatterplot of Annual_Income and Num_of_Delayed_Payment after handling with outliers

sns.scatterplot(x= df.Num_of_Delayed_Payment, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

### Num_Credit_Inquiries column

In [ ]:
# Finding iqr lower and upper limit of Num_Credit_Inquiries column

iqr_lower_upper("Num_Credit_Inquiries")

In [ ]:
# Checking the value counts of Num_Credit_Inquiries column by grouping Customer_ID

df.groupby("Customer_ID")["Num_Credit_Inquiries"].value_counts().head()

In [ ]:
# Checking the scatterplot of Annual_Income and Num_Credit_Inquiries to determine outliers

sns.scatterplot(x= df.Num_Credit_Inquiries, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

In [ ]:
# Checking the extreme values in Num_Credit_Inquiries less than 0 and greater than upper limit by sorting the Num_Credit_Inquiries value

df[(df.Num_Credit_Inquiries < 0)|(df.Num_Credit_Inquiries > upper)][["Num_Credit_Inquiries"]].value_counts(dropna=False).sort_index().head()

In [ ]:
# Checking the number of Num_Credit_Inquiries whose Num_Credit_Inquiries value less than 0

(df.Num_Credit_Inquiries < 0).sum()

In [ ]:
# Checking the number of Num_Credit_Inquiries whose Num_Credit_Inquiries value greater than upper limit

(df.Num_Credit_Inquiries > upper).sum()

In [ ]:
# Checking the customer information whose Num_Credit_Inquiries value greater than upper limit

df[df.Num_Credit_Inquiries > upper].head()

In [ ]:
# Checking the Num_Credit_Inquiries value for Customer_ID = 41326

df[df.Customer_ID == 41326][["Customer_ID","Num_Credit_Inquiries"]]

**According to the analysis above the extreme values in Num_Credit_Inquiries column greater than upper limit should be replaced with np.nan. Then null values can be filled with ffill and bfill method.**

In [ ]:
# Replacing the extreme values in Num_of_Loan column less than 0 and greater than upper limit with np.nan and then
# filling null values with ffill and bfill method by grouping Customer_ID.

df["Num_Credit_Inquiries"] = df.Num_Credit_Inquiries.replace([df[(df.Num_Credit_Inquiries > upper)]["Num_Credit_Inquiries"]], np.nan)
df["Num_Credit_Inquiries"] = df.groupby("Customer_ID")["Num_Credit_Inquiries"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
# Checking the scatterplot of Annual_Income and Num_Credit_Inquiries after handling with outliers

sns.scatterplot(x= df.Num_Credit_Inquiries, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

### Total_EMI_per_month column

In [ ]:
# Finding iqr lower and upper limit of Total_EMI_per_month column

iqr_lower_upper("Total_EMI_per_month")

In [ ]:
# Checking the value counts of Total_EMI_per_month column by grouping Customer_ID

df.groupby("Customer_ID")["Total_EMI_per_month"].value_counts().head()

In [ ]:
# Checking the scatterplot of Annual_Income and Total_EMI_per_month to determine outliers

sns.scatterplot(x= df.Total_EMI_per_month, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

In [ ]:
# Checking the extreme values in Total_EMI_per_month less than 0 and greater than upper limit by sorting the Total_EMI_per_month value

df[(df.Total_EMI_per_month < 0)|(df.Total_EMI_per_month > upper)][["Total_EMI_per_month"]].value_counts(dropna=False).sort_index().head()

In [ ]:
# Checking the number of Total_EMI_per_month whose Total_EMI_per_month value less than 0

(df.Total_EMI_per_month < 0).sum()

In [ ]:
# Checking the number of Total_EMI_per_month whose Total_EMI_per_month value greater than upper limit

(df.Total_EMI_per_month > upper).sum()

In [ ]:
# Checking the customer information whose Total_EMI_per_month value greater than upper limit

df[df.Total_EMI_per_month > upper].head()

In [ ]:
# Checking the Total_EMI_per_month value for Customer_ID = 10314

df[df.Customer_ID == 10314][["Customer_ID","Total_EMI_per_month"]]

In [ ]:
# Checking the Total_EMI_per_month value for Customer_ID = 8324

df[df.Customer_ID == 8324][["Customer_ID","Total_EMI_per_month"]]

According to the analysis above, it was concluded that the upper limit for Total_EMI_per_month should be greater.

#### Updating upper limit for Total_EMI_per_month column

In [ ]:
# Checking the value counts of Total_EMI_per_month whose value greater than upper limit

df[df.Total_EMI_per_month > upper]["Total_EMI_per_month"].value_counts().sort_index().head()

In [ ]:
# Checking the values of Total_EMI_per_month column whose values greater than Monthly_Inhand_Salary

df[df["Monthly_Inhand_Salary"] < df["Total_EMI_per_month"]][["Customer_ID", "Monthly_Inhand_Salary", "Total_EMI_per_month"]].head()

In [ ]:
# Checking the value counts of Total_EMI_per_month column whose values greater than Monthly_Inhand_Salary by sorting index

df[df["Monthly_Inhand_Salary"] < df["Total_EMI_per_month"]][["Total_EMI_per_month"]].value_counts(dropna=False).sort_index().head()

As it is seen from the results above we can update upper limit as 1036.

In [ ]:
# Checking the number of Total_EMI_per_month values greater than 1036
(df.Total_EMI_per_month > 1036).sum()

In [ ]:
# Checking the customer information whose Total_EMI_per_month values greater than 1036

df[df.Total_EMI_per_month > 1036].head()

In [ ]:
# Checking the Total_EMI_per_month value for Customer_ID = 14124

df[df.Customer_ID == 14124][["Customer_ID","Total_EMI_per_month"]]

**According to the analysis above the extreme values in Total_EMI_per_month column greater than 1036 should be replaced with np.nan. Then null values can be filled with mode or ffill, bfill methods by grouping Customer_ID.**

In [ ]:
# Replacing the extreme values in Total_EMI_per_month column greater than 1036 with np.nan and then
# filling null values with ffill and bfill method by grouping Customer_ID.

df["Total_EMI_per_month"] = df.Total_EMI_per_month.replace([df[(df.Total_EMI_per_month > upper)]["Total_EMI_per_month"]], np.nan)
df["Total_EMI_per_month"] = df.groupby("Customer_ID")["Total_EMI_per_month"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
# Checking the scatterplot of Annual_Income and Total_EMI_per_month after handling with outliers

sns.scatterplot(x= df.Total_EMI_per_month, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

### Amount_invested_monthly column

In [ ]:
# Finding iqr lower and upper limit of Amount_invested_monthly column

iqr_lower_upper("Amount_invested_monthly")

In [ ]:
# Checking the value counts of Amount_invested_monthly column by grouping Customer_ID

df.groupby("Customer_ID")["Amount_invested_monthly"].value_counts().head(10)

In [ ]:
# Checking the scatterplot of Annual_Income and Amount_invested_monthly to determine outliers

sns.scatterplot(x= df.Amount_invested_monthly, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

In [ ]:
# Checking the extreme values in Amount_invested_monthly less than 0 and greater than upper limit by sorting the Amount_invested_monthly value descending order

df[(df.Amount_invested_monthly < 0)|(df.Amount_invested_monthly > upper)][["Amount_invested_monthly"]].value_counts(dropna=False).sort_index(ascending=False).head()

In [ ]:
# Checking the number of Amount_invested_monthly whose Amount_invested_monthly value less than 0

(df.Amount_invested_monthly < 0).sum()

In [ ]:
# Checking the number of Amount_invested_monthly whose Amount_invested_monthly value greater than upper limit

(df.Amount_invested_monthly > upper).sum()

In [ ]:
# Checking the customer information whose Amount_invested_monthly value greater than upper limit

df[df.Amount_invested_monthly > upper].head()

In [ ]:
# Checking the Amount_invested_monthly value for Customer_ID = 11708

df[df.Customer_ID == 11708][["Customer_ID","Amount_invested_monthly"]]

In [ ]:
# Checking the Amount_invested_monthly value for Customer_ID = 9812

df[df.Customer_ID == 9812][["Customer_ID","Amount_invested_monthly"]]

In [ ]:
# Finding the max Amount_invested_monthly value for those whose Amount_invested_monthly value is less than 10000

df[df.Amount_invested_monthly <10000]["Amount_invested_monthly"].max()

* For Customer 9812, according to the upper limit there are two extreme values. But actually Amount_invested_monthly values are acceptable.


* For Customer 20915 there are two extreme values compared to the upper limit. But when we checked the values, it can be seen that the only 10000 value is extreme.


* Furthermore the max Amount_invested_monthly value for those whose Amount_invested_monthly value is less than 10000 is 1977.326.


**So, the upper limit for Amount_invested_monthly column should be considered as 2000.**

In [ ]:
# Checking the customer information whose Amount_invested_monthly value greater than 2000.

df[df.Amount_invested_monthly > 2000].head()

In [ ]:
# Checking the Amount_invested_monthly value for Customer_ID = 47249

df[df.Customer_ID == 47249][["Customer_ID","Amount_invested_monthly"]]

**According to the analysis above the extreme values in Amount_invested_monthly column greater than 2000 should be replaced with np.nan. Then null values can be filled with mean value of each Customer by grouping Customer_ID.**

In [ ]:
# Replacing the extreme values in Amount_invested_monthly column greater than 2000 with np.nan and then
# filling null values with mean of each customer by grouping Customer_ID.

df["Amount_invested_monthly"] = df.Amount_invested_monthly.replace([df[(df.Amount_invested_monthly > 2000)]["Amount_invested_monthly"]], np.nan)
df["Amount_invested_monthly"] = df.groupby("Customer_ID")["Amount_invested_monthly"].apply(lambda x : x.fillna(x.mean()))

In [ ]:
# Checking the scatterplot of Annual_Income and Amount_invested_monthly after handling with outliers

sns.scatterplot(x= df.Amount_invested_monthly, y=df.Annual_Income,  data=df, hue="Credit_Score", alpha=0.6);

In [ ]:
# final check of descriptive values for numerical columns

df.select_dtypes(exclude="O").describe()

## Saving cleaned df

In [ ]:
# saving cleaned data as "df_cleaned.csv"
df.to_csv("df_cleaned.csv", index=False)

In [ ]:
pd.read_csv("df_cleaned.csv").head()

Finally we completed cleaning and exploring the data, handling with missing values and handling with outliers in df. We can move to the next step which is final evaluation of data. This step and some spesific analysis will be worked in the next notebook (https://www.kaggle.com/code/lknurzelik/credit-score-friendly-exploratory-data-analysis-2/notebook).